@model BBService.Models.ViewHome
@{
    ViewBag.Title = "KmLimitInpUpdate";
}


<div id="KmLimitInpUpdate">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 inputAccident">
                <h1>Limit təyini :</h1>
                <form method="post" @Url.Action("KmLimitInpUpdate", "Inputs") class="formTest">

                    <div class="form-group inputHere">
                        <label for="RouteId" class="col-sm-12 col-form-label">Xətt :</label>
                        <div class="col-sm-12">
                            <select id="RouteId" class="form-control inputItem inputItemSelect selectpicker" name="RouteId" data-live-search="true">
                                <option value="0" selected>Seçin ...</option>
                                @foreach (var item in Model.Routes)
                                {
                                    <option @(ViewBag.limit.RouteId == item.Id ? "selected" : "") value="@item.Id">@item.Number</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="KmLimit" class="col-sm-12 col-form-label">Limit :</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control inputItem numberValidInput" id="KmLimit" value="@(ViewBag.limit.KmLimit!=null?ViewBag.limit.KmLimit.ToString("#.##"):"")" name="KmLimit" placeholder="Daxil edin ...">
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary addButton">Əlavə et</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

