@model BBService.Models.ViewHome
@{
    ViewBag.Title = "UsrOprCreate";
    DateTime date = DateTime.Now;
}
<div id="createUser">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 inputAccident">
                <h1>Yeni istifadəçi yarat :</h1>
                <form method="post" @Url.Action("UsrOprCreate", "UserOperations") enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="userName" class="col-sm-12 col-form-label">Ad, soyad :</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Fullname" class="form-control inputItem" id="userName" placeholder="Daxil edin ...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-12 col-form-label">Email :</label>
                                <div class="col-sm-12">
                                    <input type="text" name="email" class="form-control inputItem" id="email" placeholder="Daxil edin ...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-sm-12 col-form-label">Password :</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Password" class="form-control inputItem" id="Password" placeholder="Daxil edin ...">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="phone" class="col-sm-12 col-form-label">Telefon :</label>
                                <div class="col-sm-12">
                                    <input type="text" name="phone" class="form-control inputItem" id="phone" placeholder="Daxil edin ...">
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="EmployeeId" class="col-sm-12 col-form-label">İşçi :</label>
                                <div class="col-sm-12">
                                    <select id="EmployeeId" class="form-control inputItem inputItemSelect selectpicker" name="EmployeeId" data-live-search="true">
                                        <option selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                        <option value="@item.Id">@item.Surname @item.Name @item.FutherName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group addFile">
                                <label for="Image" class="col-sm-12 col-form-label">Şəkil :</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control inputItem" id="Image" name="Image">
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-check-input" value="true" name="isadmin" id="status">
                                </div>
                                <label class="col-sm-12 form-check-label" for="status">Status</label>
                            </div>
                        </div>
                    </div>

                    <!-- Hiden inputs -->
                    <input type="hidden" class="form-control" name="date" value="@date">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary addButton">Əlavə et</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
