@model BBService.Models.ViewHome
@{
    ViewBag.Title = "ClosedInitContUpdate";
}

<div id="ClosedInitContUpdate">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 inputAccident">
                <h1>Avtobusların ilkin vəziyyətinə nəzarət kartı :</h1>
                <form method="post" @Url.Action("ClosedInitContUpdate", "MainOperations") class="formTest">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">

                            @*//First*@
                            <div class="form-group inputHere">
                                <label for="VehicleId" class="col-sm-12 col-form-label">Nəqliyyat vasiətsi :</label>
                                <div class="col-sm-12">
                                    <select id="VehicleId" class="form-control inputItem inputItemSelect selectpicker" name="VehicleId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Vehicles)
                                        {
                                            <option @(ViewBag.InitCont.VehicleId != null ? (item.Id == ViewBag.InitCont.VehicleId ? "selected" : "") : "") value="@item.Id">@item.Number</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="RouteId" class="col-sm-12 col-form-label">Xətt :</label>
                                <div class="col-sm-12">
                                    <select id="RouteId" class="form-control inputItem inputItemSelect selectpicker" name="RouteId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Routes)
                                        {
                                            <option @(ViewBag.InitCont.RouteId != null ? (item.Id == ViewBag.InitCont.RouteId ? "selected" : "") : "") value="@item.Id">@item.Number</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="FirstDriverId" class="col-sm-12 col-form-label">Sürücü - 1 :</label>
                                <div class="col-sm-12">
                                    <select id="FirstDriverId" class="form-control inputItem inputItemSelect selectpicker" name="FirstDriverId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.FirstDriverId != null ? (item.Id == ViewBag.InitCont.FirstDriverId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="SecondDriverId" class="col-sm-12 col-form-label">Sürücü - 2 :</label>
                                <div class="col-sm-12">
                                    <select id="SecondDriverId" class="form-control inputItem inputItemSelect selectpicker" name="SecondDriverId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.SecondDriverId != null ? (item.Id == ViewBag.InitCont.SecondDriverId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="LeavingRecMechId" class="col-sm-12 col-form-label">Çıxış Mexanik :</label>
                                <div class="col-sm-12">
                                    <select id="LeavingRecMechId" class="form-control inputItem inputItemSelect selectpicker" name="LeavingRecMechId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.LeavingRecMechId != null ? (item.Id == ViewBag.InitCont.LeavingRecMechId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>                            
                        </div>

                        <div class="col-md-6 col-lg-4">
                            @*Second*@
                            <div class="form-group inputHere">
                                <label for="LeavingRecMechId" class="col-sm-12 col-form-label">Çıxış mexanik :</label>
                                <div class="col-sm-12">
                                    <select id="LeavingRecMechId" class="form-control inputItem inputItemSelect selectpicker" name="LeavingRecMechId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.LeavingRecMechId != null ? (item.Id == ViewBag.InitCont.LeavingRecMechId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="LeavingSeniorRecMechId" class="col-sm-12 col-form-label">Çıxış baş mexanik :</label>
                                <div class="col-sm-12">
                                    <select id="LeavingSeniorRecMechId" class="form-control inputItem inputItemSelect selectpicker" name="LeavingSeniorRecMechId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.LeavingSeniorRecMechId != null ? (item.Id == ViewBag.InitCont.LeavingSeniorRecMechId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="EnterRecMechId" class="col-sm-12 col-form-label">Giriş mexanik :</label>
                                <div class="col-sm-12">
                                    <select id="EnterRecMechId" class="form-control inputItem inputItemSelect selectpicker" name="EnterRecMechId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.EnterRecMechId != null ? (item.Id == ViewBag.InitCont.EnterRecMechId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group inputHere">
                                <label for="EnterSeniorRecMechId" class="col-sm-12 col-form-label">Giriş baş mexanik :</label>
                                <div class="col-sm-12">
                                    <select id="EnterSeniorRecMechId" class="form-control inputItem inputItemSelect selectpicker" name="EnterSeniorRecMechId" data-live-search="true">
                                        <option value="0" selected>Seçin ...</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <option @(ViewBag.InitCont.EnterSeniorRecMechId != null ? (item.Id == ViewBag.InitCont.EnterSeniorRecMechId ? "selected" : "") : "") value="@item.Id">@(item.Id != null ? (item.Surname + " " + item.Name + " " + item.FutherName) : "")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="LeavingKilometer" class="col-sm-12 col-form-label">Çıxış Kilometraj :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="LeavingKilometer" name="LeavingKilometer" value="@(ViewBag.InitCont.LeavingKilometer!=null?ViewBag.InitCont.LeavingKilometer.ToString("#.##"):"")" placeholder="Daxil edin ...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="LeavingFuel" class="col-sm-12 col-form-label">Çıxış yanacaq :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="LeavingFuel" name="LeavingFuel" value="@(ViewBag.InitCont.LeavingFuel!=null? ViewBag.InitCont.LeavingFuel.ToString("#.##"):"")" placeholder="Daxil edin ...">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            @*Third*@

                            <div class="form-group">
                                <label for="EnterKilometer" class="col-sm-12 col-form-label">Giriş Kilometraj :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="EnterKilometer" name="EnterKilometer" value="@(ViewBag.InitCont.EnterKilometer!=null?ViewBag.InitCont.EnterKilometer.ToString("#.##"):"")" placeholder="Daxil edin ...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="EnterFuel" class="col-sm-12 col-form-label">Giriş yanacaq :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="EnterFuel" name="EnterFuel" value="@(ViewBag.InitCont.EnterFuel!=null? ViewBag.InitCont.EnterFuel.ToString("#.##"):"")" placeholder="Daxil edin ...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-10 col-form-label" for="LeavingNote">Əlavə qeyd - 1</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control inputItem inputItemText" name="LeavingNote" id="LeavingNote" rows="3">@ViewBag.InitCont.LeavingNote</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-10 col-form-label" for="EnterNote">Əlavə qeyd - 2</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control inputItem inputItemText" name="EnterNote" id="EnterNote" rows="3">@ViewBag.InitCont.EnterNote</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary addButton">Dəyişin</button>
                                </div>
                                <div class="col-sm-10 cancel">
                                    <a href="@Url.Action("ClosedInitContIndex","MainOperations")">Ləğv edin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

