@model BBService.Models.ViewHome
@{
    ViewBag.Title = "InitContCheckupCreate";
    List<string> permitted = (List<string>)Session["permitted"];
}

<div id="InitContCheckupCreate">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 inputAccident">
                <h1>Yoxlama kartı :</h1>

                @if (Session["VehicleIsInRoute"] != null)
                {
                    Session["VehicleIsInRoute"] = null;
                    <div class="alert alert-warning SuccessInfo">
                        Əməliyyat uğursuzdur!<br />
                        Nəqliyyat vasitəsi xətdədir.
                    </div>
                }
                else if (Session["OpenJobCard"] != null)
                {
                    Session["OpenJobCard"] = null;
                    <div class="alert alert-warning SuccessInfo">
                        Əməliyyat uğursuzdur!<br />
                        Nəqliyyat vasitəsi üçün təmir kartı artıq açılıb.
                    </div>
                }
                else
                {
                    <form method="post" @Url.Action("InitContCheckupCreate", "MainOperations") class="formTest">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                @if (Session["InitContCreated"] != null)
                                {
                                    Session["InitContCreated"] = null;
                                    <div class="alert alert-info SuccessInfo">
                                        Əməliyyat uğurla tamamlandı!<br />
                                        Yeni məlumat əlavə etmək üçün davam edə bilərsiz.
                                    </div>
                                }

                                @if (Session["DataDeficiency"] != null)
                                {
                                    Session["DataDeficiency"] = null;
                                    <div class="alert alert-warning SuccessInfo">
                                        Əməliyyat uğursuzdur!<br />
                                        İstifadəçi BakuBus əməkdaşı deyil və ya Baş mexanik təhkim edilməyib.
                                    </div>
                                }

                                @if (ViewBag.MaintenanceStataus!=null)
                                {
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label" for="MaintenanceStatus">TQ statusu: </label>
                                        <div class="col-sm-12">
                                            <input class="form-control inputItem" disabled value="@ViewBag.MaintenanceStataus" id="MaintenanceStataus" />
                                        </div>
                                    </div>
                                }


                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label" for="Description">Nasazlıq barədə qeydlər: </label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control inputItem inputItemText" name="Description" id="Description" rows="3">@(ViewBag.MaintenanceStataus!=null? "Texniki qulluq - " + ViewBag.MaintenanceStataus :"")</textarea>
                                    </div>
                                </div>

                                @*Init Cont id*@
                                <input type="hidden" value="@ViewBag.InitContId" name="InitContId">
                                <input type="hidden" value="@ViewBag.VehicleId" name="VehicleId">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary addButton">Əlavə edin</button>
                                    </div>

                                    <div class="col-sm-10 cancel">
                                        <a href="@Url.Action("OpenInitContIndex","MainOperations")">Ləğv edin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }

            </div>
        </div>
    </div>
</div>

