@model BBService.Models.ViewHome
@{
    ViewBag.Title = "JobcardOpen";
    List<string> permitted = (List<string>)Session["permitted"];
}

<div id="JobcardOpen">
    <div class="contaiber-fluid">
        <div class="row filter">
            <div class="col-md-12">
                <form @Url.Action("JobcardOpen", "MainOperations") autocomplete="off">
                    <div class="form-row">
                        <div class="col-md-12">

                            @*Job Card*@
                            <div class="searchItem">
                                <label class="lableSelectBox" for="JobCardNo">TK Nömrəsi :</label>
                                <select class="form-control inputItem inputItemWith-2 selectpicker" id="JobCardNo" name="JobCardNo" data-live-search="true">
                                    <option value="null" selected>Seçin ...</option>
                                    @foreach (var item in ViewBag.JobCard)
                                    {
                                        var cardNo = "";
                                        var len = (item.JobCardNo.ToString()).Length;
                                        for (int j = 0; j < (9 - len); j++)
                                        {
                                            cardNo += 0;
                                        }
                                        cardNo += item.JobCardNo.ToString();

                                        <option @(Model.SearchModelJobcard.JobCardNo == item.JobCardNo ? "selected" : "") value="@item.JobCardNo">@cardNo</option>
                                    }
                                </select>
                            </div>

                            @*NV Nömrəsi*@
                            <div class="searchItem">
                                <label class="lableSelectBox" for="vehicleId">NV Nömrəsi :</label>
                                <select class="form-control inputItem inputItemWith-2 selectpicker" id="vehicleId" name="vehicleId" data-live-search="true">
                                    <option value="null" selected>Seçin ...</option>
                                    @foreach (var item in Model.Vehicles)
                                    {
                                        <option @(Model.SearchModelJobcard.vehicleId == item.Id ? "selected" : "") value="@item.Id">@item.VehicleCode - @item.Number</option>
                                    }
                                </select>
                            </div>

                            @*Qəbul tarixi*@
                            <div class="searchItem">
                                <label for="receiveDateStart">Qəbul tarixi(min) :</label>
                                <input type="text" value="@(Model.SearchModelJobcard.receiveDateStart!=null?Model.SearchModelJobcard.receiveDateStart:"")" class="form-control inputItem datepicker inputItemWith-2" name="receiveDateStart" id="receiveDateStart" placeholder="Tarix seçin ...">
                            </div>

                            <div class="searchItem">
                                <label for="receiveDateEnd">Qəbul tarixi(max) :</label>
                                <input type="text" value="@(Model.SearchModelJobcard.receiveDateEnd!=null?Model.SearchModelJobcard.receiveDateEnd:"")" class="form-control inputItem datepicker inputItemWith-2" name="receiveDateEnd" id="receiveDateEnd" placeholder="Tarix seçin ...">
                            </div>

                            @*Təhvil tarixi*@
                            <div class="searchItem">
                                <label for="deliveredDateStart">Qəbul tarixi(min) :</label>
                                <input type="text" value="@(Model.SearchModelJobcard.deliveredDateStart!=null?Model.SearchModelJobcard.deliveredDateStart:"")" class="form-control inputItem datepicker inputItemWith-2" name="deliveredDateStart" id="deliveredDateStart" placeholder="Tarix seçin ...">
                            </div>

                            <div class="searchItem">
                                <label for="deliveredDateEnd">Qəbul tarixi(max) :</label>
                                <input type="text" value="@(Model.SearchModelJobcard.deliveredDateEnd!=null?Model.SearchModelJobcard.deliveredDateEnd:"")" class="form-control inputItem datepicker inputItemWith-2" name="deliveredDateEnd" id="deliveredDateEnd" placeholder="Tarix seçin ...">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Axtar</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-12">
                <div class="nonFIlterWrapper">
                    <p class="nonFilter" id="clearFilter">
                        <a href=""><i class="fa fa-eraser"></i> Təmizlə</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50px;" class="centerCell">S/s</th>
                            <th style="width: 170px;" class="centerCell">Tənzimləmələr</th>
                            <th style="width: 80px;" class="centerCell">TK Nömrəsi</th>
                            <th style="width: 80px;" class="centerCell">Status</th>
                            <th style="width: 80px;" class="centerCell">NV Nömrəsi</th>
                            <th style="width: 100px;" class="centerCell">Qəbul vaxtı</th>
                            <th style="width: 100px;" class="centerCell">Təhvil vaxtı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model.JobCards)
                        {
                            i++;
                            var cardNo = "";
                            var len = (item.JobCardNo.ToString()).Length;
                            for (int j = 0; j < (9 - len); j++)
                            {
                                cardNo += 0;
                            }
                            cardNo += item.JobCardNo.ToString();

                            <tr class="pageItem">
                                <td scope="row" class="centerCell">@i</td>
                                <td class="centerCell">
                                    <a class="@(permitted.FirstOrDefault(a => a == "StartMaintenance") == null ? "hideAction" : "")" href="@Url.Action("StartMaintenance", "MainOperations", new { jobCardId = item.Id })" title="Təmirə başla"><i class="fa fa-hourglass-start" aria-hidden="true"></i></a>
                                    @{ if (item.StartTime != null && item.ReceivingServisOfficer != null)
                                        {
                                            <a class="@(permitted.FirstOrDefault(a => a == "RequisitionsIndex")==null? "hideAction" : "")" href="@Url.Action("RequisitionsIndex","MainOperations",new { jobCardId=item.Id})" title="Tələbnamə"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
                                            <a class="@(permitted.FirstOrDefault(a => a == "DoneWorksIndex")==null? "hideAction" : "")" href="@Url.Action("DoneWorksIndex","MainOperations",new { jobCardId=item.Id})" title="Görülmüş işlər"><i class="fa fa-wrench"></i></a>
                                        }}

                                    <a class="@(permitted.FirstOrDefault(a => a == "JobcardDetails")==null? "hideAction" : "")" href="@Url.Action("JobcardDetails","MainOperations",new { id = item.Id})" title="Detallı baxış"><i class="fa fa-asterisk" aria-hidden="true"></i></a>
                                    @{ if (item.StartTime != null && item.ReceivingServisOfficer != null)
                                        {
                                            <a class="@(permitted.FirstOrDefault(a => a == "FinishMaintenance")==null? "hideAction" : "")" href="@Url.Action("FinishMaintenance","MainOperations",new { jobCardId = item.Id})" title="Təmiri bitir"><i class="fa fa-hourglass-end" aria-hidden="true"></i></a>
                                        }}
                                </td>
                                <td class="centerCell">@cardNo</td>
                                <td class="centerCell" style="font-weight:bold;color:#b30000;">@(item.InUnderRepair != null ? "Təmir prosesi" : (item.InWaitDepot != null ? "Gözləmə-Depo" : ((item.InWaitRoute != null && item.IsOpen == null) ? "Bağlı/ Gözləmə-Xətt" : (item.IsOpen == null ? "Bağlı" : (item.InWaitRoute != null ? "Gözləmə-Xətt" : "?")))))</td>
                                <td class="centerCell">@(item.CheckUpCard.InitContId != null ? item.CheckUpCard.InitialControlSchedule.Vehicles.Number : "")</td>
                                <td class="centerCell">@(item.StartTime == null ? "" : item.StartTime.Value.ToString("dd.MM.yyyy HH:mm"))</td>
                                <td class="centerCell">@(item.EndTime == null ? "" : item.EndTime.Value.ToString("dd.MM.yyyy HH:mm"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row footer">
            <div class="col-md-3 download">
                <div class="fieldSet">
                    <h1>Yüklə</h1>
                    @*<a href="@Url.Action("ExportOpenInitCont","MainOperations")" title="Excel">
                            <img src="~/public/assets/img/excel.png" alt="">
                        </a>*@
                </div>
            </div>
            <div class="col-md-6 paginationWrapper">
                <ul class="paginationCauseListNav"></ul>
            </div>
            <div class="col-md-3 records">
                <p>Cəmi @Model.JobCards.Count() sətir</p>
            </div>
        </div>
    </div>
</div>