@using BBService.Models
@model BBService.Models.ViewHome
@{
    BBServiceEntities db = new BBServiceEntities();

    ViewBag.Title = "RequisitionsAdd";
    List<string> permitted = (List<string>)Session["permitted"];
    string vehicle = "";

    //jobcard number
    var cardNo = "";
    var len = ((string)ViewBag.JobCard.JobCardNo.ToString()).Length;
    for (int i = 0; i < (9 - len); i++)
    {
        cardNo += 0;
    }
    cardNo += ViewBag.JobCard.JobCardNo.ToString();

    //Vehicle number
    if (ViewBag.JobCard.CheckUpCard.InitialControlSchedule.VehicleId !=null)
    {
        int? vehicleId2 = ViewBag.JobCard.CheckUpCard.InitialControlSchedule.VehicleId;
        vehicle = db.Vehicles.FirstOrDefault(v => v.Id == vehicleId2).Number;
    }

}

<div id="RequisitionsAdd">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 inputAccident">
                <h1>Tələb olunan ehtiyyat hissələrini əlavə edin :</h1>
                <form method="post" @Url.Action("RequisitionsAdd", "MainOperations") class="formTest">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group text">
                                <label class="col-sm-10 form-check-label" for="CheckUp">Nəqliyyat vasitəsi : <span>@(ViewBag.JobCard.CheckupCardId != null ? vehicle : "")</span></label>
                            </div>

                            <div class="form-group text">
                                <label class="col-sm-10 form-check-label" for="CheckUp">Təmir kartı : <span>@cardNo</span></label>
                            </div>

                            <div class="form-group text-failure">
                                <label class="col-sm-10 form-check-label" for="CheckUp">Nasazlıq haqqında məlumat :</label>
                                <span>@(ViewBag.JobCard.CheckupCardId != null ? ViewBag.JobCard.CheckUpCard.Description : "")</span>
                            </div>

                            <div class="form-group inputHere requsitions">
                                <label class="col-sm-12 col-form-label">Ehtiyyat hissələri :</label>

                                <div class="col-sm-12">
                                    @if (Session["repeatedSP"] != null)
                                    {
                                        Session["repeatedSP"] = null;
                                        <div class="alert alert-warning SuccessInfo">
                                            Əməliyyat uğursuzdur!<br />
                                            Seçdiyiniz Ehtiyyat hissələrindən artıq əlavə edilən(lər)i var.
                                        </div>
                                    }

                                </div>


                                @*First row*@
                                <div class="itemGroup">
                                    <div class="itemGood">
                                        <select class="form-control inputItem inputItemSelect selectpicker" name="[0].TempWarehouseId" data-live-search="true">
                                            <option value="0" selected>Seçin ...</option>
                                            @foreach (var item in Model.TempWarehouse)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="itemQuantity">
                                        <input type="text" class="form-control inputItem numberValidInput" name="[0].RequiredQuantity">
                                    </div>

                                    <div class="resultIsOk" name="[0]">
                                    </div>
                                </div>

                                <div class="alert alert-warning" role="alert" name="[0]">

                                </div>

                                @*Second row*@
                                <div class="itemGroup">
                                    <div class="itemGood">
                                        <select class="form-control inputItem inputItemSelect selectpicker" name="[1].TempWarehouseId" data-live-search="true">
                                            <option value="0" selected>Seçin ...</option>
                                            @foreach (var item in Model.TempWarehouse)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="itemQuantity">
                                        <input type="text" class="form-control inputItem numberValidInput" name="[1].RequiredQuantity">
                                    </div>

                                    <div class="resultIsOk" name="[1]">

                                    </div>
                                </div>

                                <div class="alert alert-warning" role="alert" name="[1]">

                                </div>
                            </div>

                            <div class="addItem">
                                <i class="fa fa-plus iClick" data-jobcard="@ViewBag.JobCard.Id" aria-hidden="true"></i>
                            </div>

                            <input type="hidden" name="JobCardId" id="JobCardId" value="@ViewBag.JobCard.Id">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary addButton">Əlavə edin</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <a id="goBack" href="@Url.Action("RequisitionsIndex","MainOperations",new { jobCardId=ViewBag.JobCard.Id})">Geri qayıdın</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

